@font-face {
  font-family: 'GT-Haptic';
  font-weight: 700;
  src: url('../fonts/GT-Haptik-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Haptic';
  font-weight: 500;
  src: url('../fonts/GT-Haptik-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Haptic';
  font-weight: 400;
  src: url('../fonts/GT-Haptik-Regular.woff2') format('woff2');
}

.scroll-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.link path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.link:hover .line path {
  stroke-dashoffset: 0;
  transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
  transition-duration: 0.3s;
}

.tooltip {
  border-radius: 5px !important;
  padding: 4px 10px !important;
  font-weight: 500 !important;
  background-color: black !important;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08) !important;
  opacity: 1 !important;
}

.tooltip-xl {
  border-radius: 8px !important;
  padding: 10px 12px !important;
}

.tooltip::before,
.tooltip::after {
  display: none;
}
