@font-face {
  font-family: 'GT-Haptic';
  font-weight: 700;
  src: url('../fonts/GT-Haptik-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Haptic';
  font-weight: 500;
  src: url('../fonts/GT-Haptik-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Haptic';
  font-weight: 400;
  src: url('../fonts/GT-Haptik-Regular.woff2') format('woff2');
}

.scroll-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
